@page "/"
@inject IJSRuntime JS
<head>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
    <style>
        .body-size-sel {
            width: auto;
            height: 100%;
        }

        .div-maring-set {
            text-align: center;
        }

        .bsbtn_margin {
            width: 170px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: inline-flex;
            font-weight: bold;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .breadcrumb {
            background-color: #efeff1;
        }
    </style>
</head>
<div class="body-size-sel">
    <div class="container">
        <h2 class="mt-4 mb-3" style="font-weight:bold;">방송 선택</h2>
        <div class="div-maring-set">
            <ol class="breadcrumb"></ol>
            <BlazorStrap.BSButton class="bsbtn_margin" Href="/sharingchannel" ButtonType="BlazorStrap.ButtonType.Link" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                공유 스트리밍 방송
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" Href="/indivichannel" ButtonType="BlazorStrap.ButtonType.Link" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                개인 스트리밍 방송
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" Href="/musicchannel" ButtonType="BlazorStrap.ButtonType.Link" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                음악 방송
            </BlazorStrap.BSButton>
        </div>
    </div>
</div>

@code { 
}
