@page "/"
@inject IJSRuntime JS

<div class="body-size-sel">
    <div class="container">
        <h2 class="mt-4 mb-3" style="font-weight:bold;">방송 선택</h2>
        <div class="div-maring-set">
            <ol class="breadcrumb"></ol>
            <BlazorStrap.BSButton class="bsbtn_margin" Href="/sharingchannel" ButtonType="BlazorStrap.ButtonType.Link" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                비디오 공유 스트리밍 방송
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" Href="/livechannel" ButtonType="BlazorStrap.ButtonType.Link" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                개인 라이브 스트리밍 방송
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" Href="/musicchannel" ButtonType="BlazorStrap.ButtonType.Link" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                음악 공유 스트리밍 방송
            </BlazorStrap.BSButton>
        </div>
    </div>
</div>

@code { 
}
