@page "/"

<head>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
    <style>
        .body-size-sel {
            width: auto;
            height: 100%;
        }

        .div-maring-set {
            text-align: center;
        }

        .bsbtn_margin {
            width: 150px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: inline-flex;
            font-weight: bold;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .breadcrumb {
            background-color: #efeff1;
        }
    </style>
</head>
<div class="body-size-sel">
    <div class="container">
        <h2 class="mt-4 mb-3" style="font-weight:bold;">전체</h2>
        <div class="div-maring-set">
            <ol class="breadcrumb"></ol>
            <BlazorStrap.BSButton class="bsbtn_margin" Href="/channel" ButtonType="BlazorStrap.ButtonType.Link" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                게임
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                음악&댄스
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                뷰티&패션
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                영화
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                애니메이션
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                키즈
            </BlazorStrap.BSButton>
        </div>
        <div class="div-maring-set">
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                라이프&스타일
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                여행&아웃도어
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                스포츠&건강
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                뉴스&이슈
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                기관&정부
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                엔터테인먼트
            </BlazorStrap.BSButton>
        </div>
        <div class="div-maring-set">
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                푸드&쿠킹
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                인물&유명인
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                IT&과학
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                동물&펫
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                취미
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                차&바이크
            </BlazorStrap.BSButton>
        </div>
        <div class="div-maring-set">
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                경제&금융
            </BlazorStrap.BSButton>
            <BlazorStrap.BSButton class="bsbtn_margin" IsOutline="true" Color="BlazorStrap.Color.Secondary">
                교육&강의
            </BlazorStrap.BSButton>
        </div>
    </div>
</div>

@code {

}
