@page "/livechannel"

<div class="body-size-sel">
    <div class="container">
        <h2 class="mt-4 mb-3" style="font-weight:bold;">개인 라이브 스트리밍</h2>
        <!-- Page Heading/Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">방송 선택</a>
            </li>
            <li class="breadcrumb-item active">개인 라이브 스트리밍</li>
        </ol>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="/live"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h6 class="card-title">
                            <a href="/live">채널 1</a>
                        </h6>
                        <p class="card-text">총 시청자&nbsp;:&nbsp;<span>0</span></p>
                        <!--<BSBadge Color="Color.Secondary">AOS</BSBadge>
                        <BSBadge Color="Color.Secondary">액션</BSBadge>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
