@page "/video"
@inject IJSRuntime JS
@using System.Net.Http
@inject HttpClient Http

<hr />

<div id="stream"></div>
<div>
    <RadzenUpload Url=@uploadUrl Progress="@((args) => OnProgress(args, "Single file upload"))" />
</div>
<div>
    <h4>@progress%</h4>
</div>
<hr />

<Chat></Chat>


@code 
{ 

    public int roomID = 1;
    public string Owner = "test";

    public string uploadUrl = string.Empty;

    protected override void OnInitialized()
    {
        JS.InvokeVoidAsync("JanusInit", null);
        uploadUrl = @$"upload/{roomID}/{Owner}";
    }

    int progress;
    string info;

    void OnProgress(Radzen.UploadProgressArgs args, string name)
    {
        this.info = $"% '{name}' / {args.Loaded} of {args.Total} bytes.";
        this.progress = args.Progress;
    }

    private class StreamingInfo
    {
        public int RoomID { get; set; }
        public string Owner { get; set; }
        public string FileName { get; set; }
    }
}
