@page "/video"
@inject IJSRuntime JS

<hr />

<div id="stream"></div>

<hr/>

<Chat></Chat>


@code { protected override void OnInitialized()
            {
                JS.InvokeVoidAsync("StreamingAttach", null);
            } 
}
