@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 auth">
        <div>
            <a class="navbar-brand" href="">PicVicom</a>
        </div>
        <div>
            <LoginDisplay />
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
