@inherits LayoutComponentBase

<style>
    .navbar-brand{
        color:black;
    }
</style>
    <div class="main">
        <div class="top-row px-4 auth fixed-top">
                <div>
                    <a class="navbar-brand" href="">PicVicom</a>
                </div>
                <div class="top-row px-4 auth">
                    <LoginDisplay />
                </div>
        </div>

        <div class="content px-4 container">
            @Body
        </div>
    </div>